[submodule "deadsfu-binaries"]
	path = deadsfu-binaries
	url = https://github.com/x186k/deadsfu-binaries
[submodule "html/getstats-shipper"]
	path = html/getstats-shipper
	url = https://github.com/x186k/getstats-shipper
[submodule "whip-whap-js"]
	path = whip-whap-js
	url = https://github.com/x186k/whip-whap-js
[submodule "html/whip-whap-js"]
	path = html/whip-whap-js
	url = https://github.com/x186k/whip-whap-js
